@import url("./common.css");

/*industry experts*/
.feedback_wrapper {
	text-align: center;
	padding: 50px 0;
}
.feedbox_wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.feedbox {
	padding: 30px;
	border: 3px solid var(--theme-blue);
}
.student_img {
	width: 75px
}
.student_img > img {
	width: 100%;
	border-radius: 50%;
}
.fdbk {
	font-size: 15px;
	padding: 30px 0;
	line-height: 150%;
}

/*hiring*/
.hiring_box {
    width: 25%;
    display: inline-block;
    float: left;
    padding: 15px;
}
.hiring_box img {
    width: 100%;
}