html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video, textarea  {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size: 18px;
	background:transparent;
	vertical-align:baseline;	
	font-family: 'Lato', sans-serif;
}
*{
	box-sizing: border-box;
}

:root{
	--theme-blue: #1eaae1;
	--default-black: #000;
	--default-white: #fff;
	--theme-gray: #575656;
}

.hm_wrapper {
    width: 75%;
    margin: 0 auto;
}
h2 {
    font-size: 28px;
    padding-bottom: 10px;
}

/*header*/
.clearboth{
	clear: both;
}
.header_intwrapper{
	padding: 10px 20px;
}
.logo_wrapper {
	width: 80px;
	margin-left: 30px;
	display: inline-block;
	vertical-align: middle;
}
.logo_wrapper > a > img {
	width: 100%;
}
.header_links {
	float: right;
	padding: 10px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}
.header_links > a {
	padding-right: 30px;
	text-decoration: none;
	color: var(--default-black);
}

/*footer*/
footer {
	background: var(--theme-gray);
}
.footer_intwrapper {
	display: grid;
	padding: 30px;
	grid-gap: 100px;
	grid-template-columns: 2fr 1fr 1fr;
}
.footer_sec > p {
	color: #949494;
	font-size: 14px;
	line-height: 150%;
	text-align: justify;
}
.footer_sec > b {
	color: #949494;
}
.footer_sec > ul {
	list-style-type: none;
}
.footer_sec > ul > li > a{
	color: #949494;
    font-size: 14px;
    line-height: 150%;
    text-align: justify;
	text-decoration: none;
}
.footer_sec > ul> li> img {
	width: 50px;
	float: left;
	padding: 3px;
	display: inline-block;
}